.title {
    text-align: center;
}

.container {
    text-align: left;
}

.subTitle {
    font-size: 1.5rem;
    font-family: 'Ubuntu';
}

.downloadBtn {
    width: 19rem;
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 30px;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 20px;
    margin: 0 1rem;
    border: 5px solid rgb(182, 182, 182);
    transition: 0.3s;
}

.downloadBtn:hover {
    background-color: RoyalBlue;
}

.modal-body {
    text-align: center;
    font-size: 1.2rem;
}
